.task{
    display: flex;
    justify-content: space-between;
    width:400px;
    height: 50px;
    box-shadow: 0 0 8px rgba(0,0,0, .5);
    background: #fff;
    align-items: center;
}
.buttons{
    margin:5px;

}
.isCompleted{
    border-radius: 5px;
    background-color: darkgreen;
    color:black;
    outline: #fff;
    font-size: 15px;
}
.remove{
    border-radius: 5px;
    background-color:crimson;
    color:black;
    outline: #fff;
    font-size: 15px;
    margin-left: 5px;
}
h1{
    margin-left: 5px;
}